<configuration packagingData="true">
    <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
        <dsn>https://2b9a1916bf6b409d8ac5b1a346923c28:c923cd8e6a3c4efc9fb20eec9ef63a45@sentry.io/162056</dsn>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <extraTags>version,players,server</extraTags>
        <!-- Optional, allows to select the ravenFactory -->
        <ravenFactory>com.getsentry.raven.DefaultRavenFactory</ravenFactory>
    </appender>
    <root level="info">
        <appender-ref ref="Sentry"/>
    </root>
    <DynamicThresholdFilter key="trace-logging-enabled" onMatch="ACCEPT" onMismatch="NEUTRAL">
        <KeyValuePair key="true" value="TRACE" />
    </DynamicThresholdFilter>
</configuration>